<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cliff.ui">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".arclayout.DemoActivity" />
        <activity android:name=".arclayout.DemoFreeAngleActivity" />
        <activity android:name=".arclayout.DemoLikePathActivity" />
        <activity android:name=".arclayout.DemoLikeTumblrActivity" />
        <activity android:name=".arclayout.TestActivity" />
        <activity android:name=".cirprobtn.Sample1Activity" />
        <activity android:name=".cirprobtn.Sample2Activity" />
        <activity android:name=".cirprobtn.Sample3Activity" />
        <activity android:name=".cirprobtn.Sample4Activity" />
        <activity android:name=".cirprobtn.Sample5Activity" />
        <activity android:name=".coverflow.SimpleExample" />
        <activity android:name=".coverflow.ViewGroupExample" />
        <activity android:name=".coverflow.ViewGroupReflectionExample" />
        <activity android:name=".coverflow.XmlInflateExample" />
        <activity android:name=".dialog.DigPlusActivity" />
        <activity android:name=".swipe.MainActivity" />
        <activity android:name=".swipe.SecondActivity" />
    </application>

</manifest>
